/**
 * Customized stylesheet
  * Author: Brandon Wayne Odiwuor
 */

/*
 * Navigation Bar
 */
#brand {
    color: white;
}

#nav {
    background-color:  #0d47a1;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

#activeLink {
    color: white;
}

/* Main */
main {
    padding-top: 70px;
}

/*
 * Footer
 */

.footer {
    background-color:  #f5f5f5;
    padding: 20px;
}

.theme-color {
     color: #0d47a1;
 }

 .btn-submit {
     margin-bottom: 10px;
     background-color: #0d47a1;
     color: white;
 }

.material-icons.primary-color { color: #0d47a1; }

.services {
    padding: 40px 20px 20px 20px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.bottom-fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (min-width: 576px) {
    .small-bottom-fixed-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .mid-bottom-fixed-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 992px) {
}